{% extends 'base.html' %}
{% load formclss %}


{% block title %}Carga de Combustible{% endblock title %}
    


{% block content %}
    <section class="flex flex-col">
        <header class="h-16 border-b border-neutral-300 flex items-center px-4">
            <a href="{% url 'fueling-list' %}" class="w-8 h-8 btn-secondary">
                <i class="las la-arrow-left"></i>
            </a>
            <div class="flex-1">
                <h5 class="text-base text-neutral-700 font-semibold text-center">
                    {% if object %}Editar{% else %}Nuevo{% endif %} Vehiculo
                </h5>
            </div>
        </header>
        <form class="flex flex-col gap-6 px-4" method="post">{% csrf_token %}

            <label class="flex flex-col gap-1">
                <span class="text-sm font-normal text-neutral-700">{{ form.vehicle_type.label }}</span>
                {{ form.vehicle_type|addclss:"input h-10" }}
            </label>

            <label class="flex flex-col gap-1">
                <span class="text-sm font-normal text-neutral-700">{{ form.plate.label }}</span>
                {{ form.plate|addclss:"input h-10" }}
            </label>

            <label class="flex flex-col gap-1">
                <span class="text-sm font-normal text-neutral-700">{{ form.brand.label }}</span>
                {{ form.brand|addclss:"input h-10" }}
            </label>

            <label class="flex flex-col gap-1">
                <span class="text-sm font-normal text-neutral-700">{{ form.model.label }}</span>
                {{ form.model|addclss:"input h-10" }}
            </label>

            
            <label class="flex flex-col gap-1">
                <span class="text-sm font-normal text-neutral-700">{{ form.year.label }}</span>
                {{ form.year|addclss:"input h-10" }}
            </label>

            <div class="flex gap-2 items-center">
                
                {% if object %}    
                    <div class="flex-1 flex">
                        <a href="{% url 'vehicle-delete' object.pk %}" class="flex-1 h-10 text-center btn-danger">Eliminar</a>
                    </div>
                {% endif %}
                    
                <div class="flex-1">
                    <button type="submit" class="w-full btn-primary h-10">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}
    