{% extends 'base.html' %}


{% block title %}Cargas de Combustible{% endblock title %}
    

{% block content %}
    <section class="flex flex-col h-full">
        <header class="h-12 border-b flex items-center px-4">
            
            <a href="{% url 'index' %}" class="w-8 h-8 btn-secondary">
                <i class="las la-arrow-left"></i>
            </a>

            <div class="flex-1">
                <h5 class="text-base text-center font-semibold text-neutral-700">Listado de cargas de combustible</h5>
            </div>

            <a href="{% url 'vehicle-list' %}" class="w-8 h-8 btn-secondary">
                <i class="las la-car-side"></i>
            </a>

        </header>

        <div class="border-b h-12 flex items-center px-4">
            <a href="{% url 'fueling-create' %}" class="w-8 h-8 btn-primary">
                <i class="las la-plus"></i>
            </a>
            <div class="w-10"></div>
            <form class="flex-1 flex items-center gap-2" method="get">
                <div class="flex-1">
                    <input type="text" name="q" placeholder="Busar..." class="input h-8" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn-success w-8 h-8">
                    <i class="las la-search"></i>
                </button>
            </form>
        </div>
        
        <div class="flex-1 overflow-auto">
            
            {% for fueling in object_list %}
                <a class="px-4 py-2 flex justify-between items-start border-b border-neutral-300" href="{% url 'fueling-update' fueling.pk %}">
                    <div class="flex flex-col gap-1">
                        <p class="text-sm font-base text-neutral-700">{{ fueling.vehicle.plate }} <span class="text-xs font-light text-neutral-600">({{ fueling.vehicle.vehicle_type.name }})</span></p>
                        <h6 class="text-base font-medium text-neutral-800">{{ fueling.fuel_type.get_name_display }}</h6>
                        <span class="text-sm font-light text-neutral-600">{{ fueling.liters }} L</span>
                        <span class="text-sm font-light text-neutral-600">{{ fueling.total }} Bs</span>
                    </div>
                    <span class="text-sm font-light text-neutral-700">{{ fueling.upload_date|date:'d-m-y, H:i' }}</span>
                </a>
            {% endfor %}
                
        </div>
    </section>
{% endblock content %}

    