{% extends 'base.html' %}

{% block title %}
    Carga de Combustible
{% endblock title %}

{% block content %}
    <section class="px-4 py-6">
        <form method="post" class="flex flex-col gap-5">{% csrf_token %}
            <p class="text-normal font-medium text-neutral-700">¿Esta seguro de elminar la carga de combustible "{{object.pk}}"?</p>
            <div class="flex gap-2 items-center">
                <div class="flex-1 flex">
                    <a href="{% url 'fueling-update' object.pk %}" class="flex-1 text-center h-10 btn-secondary">Cancelar</a>
                </div>
                <div class="flex-1">
                    <button type="submit" class="w-full h-10 btn-danger">
                        Si, Eliminar
                    </button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}
    
