{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}
    <section class="h-full flex flex-col">
        
        <header class="h-12 border-b border-neutral-300 flex items-center px-4">
            <div class="flex-1">
                <h5 class="text-base text-center font-semibold text-neutral-700">Dashboard</h5>
            </div>

            <a href="{% url 'fueling-list' %}" class="w-8 h-8 btn-secondary">
                <i class="las la-list"></i>
            </a>
        </header>

        <main class="flex-1 overflow-auto flex flex-col gap-4 bg-neutral-50 px-4">
            <section class="grid grid-cols-2 gap-2 py-2">
                
                <div class="border bg-white rounded-lg col-span-1 flex flex-col justify-center items-center h-20 shadow-md">
                    <h6 class="text-sm font-light text-neutral-800">Gasto Combustible</h6>
                    <p class="flex items-center gap-1">
                        <span class="text-xl font-semibold text-neutral-700">{{ bills }}</span>
                        <span class="text-sm font-light text-neutral-600">Bs</span>
                    </p>
                </div>
                
                <div class="border bg-white rounded-lg col-span-1 flex flex-col justify-center items-center h-20 shadow-md">
                    <h6 class="text-sm font-light text-neutral-800">Litros Cargados</h6>
                    <p class="flex items-center gap-1">
                        <span class="text-xl font-semibold text-neutral-700">{{ liters }}</span>
                        <span class="text-sm font-light text-neutral-600">Lts</span>
                    </p>
                </div>
                
                <!-- <div class="border bg-white rounded-lg col-span-1 flex flex-col justify-center items-center h-20 shadow-md">
                    <h6 class="text-sm font-light text-neutral-800">Distancia</h6>
                    <p class="flex items-center gap-1">
                        <span class="text-xl font-semibold text-neutral-700">{{ distance }}</span>
                        <span class="text-sm font-light text-neutral-600">Km</span>
                    </p>
                </div> -->

                <!-- <div class="border bg-white rounded-lg col-span-1 flex flex-col justify-center items-center h-20 shadow-md">
                    <h6 class="text-sm font-light text-neutral-800">Odometro</h6>
                    <p class="flex items-center gap-1">
                        <span class="text-xl font-semibold text-neutral-700">{{ odometer }}</span>
                        <span class="text-sm font-light text-neutral-600">Km</span>
                    </p>
                </div> -->
            </section>

            <section class="flex flex-col border rounded-lg shadow-md bg-white">
                {% for v in vehicles %}    
                    <div class="flex border-b p-4 items-center">
                        <section class="w-64 flex flex-col gap-1">
                            <p class="text-base font-semibold text-neutral-800">{{ v.plate }}</p>
                            <span class="text-sm font-light text-neutral-700">{{ v.vehicle_type.name }}</span>
                        </section>

                        <div class="flex-1">
                            <span class="text-sm font-medium px-2 py-1 bg-neutral-600 text-white rounded-lg">{{ v.odometer }} Km</span>
                        </div>
                        
                        <div class="flex flex-col gap-1 items-end">
                            <span class="text-sm font-normal text-neutral-600">{{ v.distance }} Km</span>
                            <span class="text-sm font-normal text-neutral-600">{{ v.liters }} L</span>
                            <span class="text-sm font-normal text-neutral-600">{{ v.spent }} Bs</span>
                        </div>
                    </div>
                {% endfor %}
            </section>

        </main>

    </section>
{% endblock content %}
    